@import "tailwindcss";

@theme {
    /* Colores de marca y superficies */
    --color-primary: #ff4f00;
    --color-secondary: #b2b2b2;
    --color-accent: #1F1F1F;
    --color-background: #FFFFFF;
    --color-surface: #FAFAFA;
    --color-brand-gray: #4d4d4d;
    --color-border: #b2b2b2;

    /* Tipografía[cite: 4] */
    --font-heading: "Arista Pro Trial Light", "Comfortaa", sans-serif;
    --font-body: "Arial Rounded MT", "Nunito", sans-serif;
    --font-mono: "Geist Mono", monospace;

    /* Espaciado y Radios[cite: 4] */
    --spacing-base: 8px;
    --radius-sm: 12px;
    --radius-none: 0px;
    --radius-md: 16px;
    --radius-full: 9999px;
}